<div class="card">
    <div class="card-header">
        {{ productTitle }}
    </div>

    <div class="card-body">
        
        <div class="row my-3">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <mat-form-field class="search-input" appearance="fill">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Search for products" value="" [(ngModel)]="listFilter">
                </mat-form-field>
            </div>
            <div class="col-md-2"></div>
        </div>
        
        <div class="row my-4">
            <div class="col-md-12">
                <small>Filtered by: {{ listFilter }}</small>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                
                <thead>
                    <tr>
                        <th>
                            <button mat-raised-button color="primary" (click)="toggleImage()">{{ showImage ? 'Hide' : 'Show' }} Image</button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor='let product of filteredProducts'>
                        <td>
                            <img *ngIf="showImage"
                                [src]="product.productImageUrl" 
                                [title]="product.productName"
                                [style.width.px]="imageWidth">
                        </td>
                        <td>{{ product.productName | uppercase }}</td>
                        <td>{{ product.productCode | lowercase | convertToSpace: '-' }}</td>
                        <td>{{ product.productDate }}</td>
                        <td>{{ product.productPrice| currency:'USD':'symbol':'1.2-2'}}</td>
                        <td>{{ product.productRating }}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
