<div class="card">
    <div class="card-header">
        {{ productTitle }}
    </div>

    <div class="card-body">
        
        <div class="row my-4">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-6">
                <input class="search-input" type="text">
            </div>
        </div>
        
        <!-- <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: </h4>
            </div>
        </div> -->

        <div class="table-responsive">
            <table class="table">
                
                <thead>
                    <tr>
                        <th><button class="btn btn-primary" (click)="toggleImage()">Show Image</button></th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor='let product of products'>
                        <td>
                            <img *ngIf="showImage"
                                [src]="product.productImageUrl" 
                                [title]="product.productName"
                                [style.width.px]="imageWidth">
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode }}</td>
                        <td>{{ product.productDate }}</td>
                        <td>{{ product.productPrice }}</td>
                        <td>{{ product.productRating }}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>